.grid-container > .about { 
  grid-area: main; 
  background: $pale-blue-green;
  color: $off-black;
  padding: $l-size;
}

.grid-container > .about > a {
  color: $off-black;
  font-style: bold;
  margin: $xs-size;
  padding: $xs-size;
  text-decoration: none;
}

.grid-container > .about > a:hover{
  color: $hover-color;
  text-decoration: none;
}