.grid-container > .categories {
    grid-area: categories; 
    background: $light-blue-green;
    color: $off-black;
    padding: $xs-size $xs-size;
}

.div-msg {
    margin: $xs-size;
    border: none;
}

.btn-cat-group .button {
    background-color: $light-blue-green;
    border: $off-white;
    color: $off-black;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  }

.btn-cat-group .button:hover {
    background-color: $hover-color;
    color: black;
    font-weight: bold;
}

.btn-cat {
    background-color: $light-blue-green;
}

.btn-cat:hover {
    background-color: $hover-color;
    color: black;
}

.button--link {
    background: $light-blue-green;
    border: none;
    color: $off-black;
    padding: 0;
}

.button--link:hover {
    background-color: $hover-color;
    color: black;
    font-weight: bold;
}

.cat-center {
    margin-right:auto;
    margin-left:auto;
    padding-left:$s-size;
    padding-right:$s-size;
    text-align:center;
    align-content:center;    
}

.cat-divide {
    border-bottom:solid $off-black;   
}

.cat-group {
    border: none;
    margin: $xs-size;
    padding: $xs-size;
}

.cat-header {
    border: none;
    display: inline-block;
    font-size: $l-size;
    font-weight: bold;
    padding: $l-size $l-size 0;
    text-align: center;
    text-decoration: none;
}

.cat-input {
    background-color: $off-white;
}

.sort-icon {
    background-color: none;    
    border: none;
    margin: $li-size;
    padding: $li-size;
  }