.grid-container > .footer { 
    grid-area: footer; 
    background: $purple;
    color: $off-white;
    font-size: $l-size;
    font-style: italic;
    margin-bottom: 0;
    padding: $xs-size;
    text-align: center;
}

.grid-container > .footer > a {
    border: none;
    color: $off-white;
    margin: $xs-size;
    padding: $xs-size;
    text-decoration: none;
}

.grid-container > .footer > a:hover {
    color: $hover-color;
    text-decoration: underline;
}