.grid-container > .header { 
    grid-area: header; 
    background: #FBA90A;
    box-sizing: border-box;    
    color: $off-black; 
    font-size: $l-size;
    font-weight: normal;
    margin-bottom: 0;
    padding: $xs-size;
    justify-content: space-between;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

.header-brand {
    font-size: $xl-size;
    font-weight: bold;
}

.header-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background: #eee;
    padding: 20px;
}

.header-li{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: left;
}

