.grid-container > .main { 
  grid-area: main; 
  background-color: $pale-blue-green;
  color: $off-black; 
  padding: $xs-size $l-size;
  text-align: left;
}

.grid-container > .tab-group > ul {
  list-style-type:none;    
}

.tab-group {
  border: none;
  margin: $xs-size;
  padding: $xs-size;
}

.btn-center {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  align-content:center;
}

.btn-group .button {
  background-color: $pale-blue-green;
  border: $off-white;
  color: $off-black;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.btn-group .button:hover {
  background-color: $hover-color;
  color: black;
  font-weight: bold;
}

.btn-group:after {
  clear:both;
}


.btn-tab {
  background-color: $pale-blue-green;
}

.btn-tab:hover {
  background-color: $hover-color;
  color: black;
}

